//logo
nav.navbar {
  display: block;
  background-color: white;
  padding: 0.5rem 0;
  h1 {
    background-color: #6c757d;
    color: #fff;
    text-align: center;
  }
}

#main {
  margin-top: 20px;
}

.card-column {
  article {
    background-color: $secondary;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 1rem;
    div.field-content {
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
    .views-field-title {
        text-align: center;
        color: white;
        a {
            color: #fff;
            &:hover {
                text-transform: none;
            }
        }
    }
    .views-field-field-reponse {
      display: none;
    }
    &:hover {
      .views-field-field-reponse {
        display: block;
      }
    }
  }
}

h2 {
  display: hidden;
  color: white;
}

.navbar-collapse {
  justify-content: center;
  color: black;
}
